.wrapper {
  width: 400px;
  background: aquamarine;
  padding: 30px;
  border-radius: 5px;
  margin: 0 auto;
}

.wrapper label {
  display: block;
  margin-bottom: 5px;
}

.wrapper input {
  border: 1px solid #ddd;
  background: #fff;
  padding: 7px 10px;
  border-radius: 5px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.wrapper button {
  background: brown;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

body h1 {
  text-align: center;
  margin-bottom: 15px;
}
body {
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.results {
  width: 400px;
  margin: 0 auto;
  background: bisque;
  border-radius: 5px;
  padding: 30px;
  font-size: 20px;
  margin-top: 15px;
}

.results p {
  font-style: italic;
  color: crimson;
  margin: 8px 0;
}
.error {
  width: 400px;
  margin: 0 auto;
  background: springgreen;
  padding: 10px 15px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  display: none;
}
