* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #42455a;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container {
  margin: 150px 0;
}
section .text-container {
  display: flex;
}
.text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}

.container.reveal {
  position: relative;
  transition: 2s all ease;
  -webkit-transition: 2s all ease;
  -moz-transition: 2s all ease;
  -ms-transition: 2s all ease;
  -o-transition: 2s all ease;
  transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
}
.reveal.active {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
