* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  line-height: 1.3em;
}

.header {
  background: crimson;
  padding: 10px 0;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: darkmagenta;
}
.container {
  padding: 0 2rem;
}

nav.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav.menu li {
  display: inline-block;
}

nav.menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: capitalize;
}

.section-padding {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.section-title h2 {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
