* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: violet;
}
img {
  max-width: 100%;
}
.wrap h1 {
  font-size: 6rem;
  font-weight: 700;
}
.wrap h1::after {
  border: 1px solid #fff;
  content: "";
  margin-left: 10px;
  animation: blink 0.8s infinite;
  -webkit-animation: blink 0.8s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
